body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    background:linear-gradient(to right, #BD95B2, #327026);
}
header{
    left: 0px;
    top: 0px;
    height: 105px;
    width: 100%;
    background-color: #64BD53;
}
.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
.links{
    overflow: hidden; 
}
.links a{
    font-family: 'Courier New', Courier, monospace;
    float:right;
    padding: 5px;
    padding-top:0px;
    right:2px;
    margin: 2px;
    text-decoration: none;
    color:#701B5A;
}
.links a:hover{
    color:#9DFF8A;
}
.sobre{
    padding: 80px;
    text-align:center;
}
.titulo{
    text-decoration: double;
    padding-left: 10px;
}
.linha{
    display:flex;
    flex-direction:row;
}
.linha figcaption::first-letter{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#bandeira{
    position:absolute;
    right: 10px;
}
.fatos{
    padding-top:120px;
}
.fatos td,th{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black solid 1px;
    padding: 10px;
}
.fatos table{
    background-color: #64BD53;
}
address{
    font-family:'Times New Roman', Times, serif;
}
footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.bottomtext{
    border-bottom: #327026 solid 2px;
}