body{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    /*border: 1px solid black;*/
}
.principal{
    width: 90%;
    margin-left:5%;
}
.cabecalho{
    height:82px;
}
.logo{
    padding-top:3px;
    padding-left: 3px;
}
.links{
    position: absolute;
    top:39px;
    right: 90px;
}
.imagem{
    padding-left: 263px;
}
.texto{
    padding-left: 3px;
    padding-top:4px;
}
.copyright{
    padding-left:2px;
    padding-top:4px;
    text-align: center;
}